/*------------------------------------------------- Fonts */
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

.active {
    text-decoration: underline;
    font-weight: 700;
}


/*------------------------------------------------- Colors */

.color-page-home {
    background-color: hsl(207, 50%, 98%);
}

.color-page-education {
    background-color: hsl(207, 50%, 96%);
}

.color-page-work {
    background-color: hsl(207, 50%, 94%);
}

.color-page-programming {
    background-color: hsl(207, 50%, 92%);
}

.color-page-other {
    background-color: hsl(207, 50%, 90%);
}

.color-name-purpose {
    background: hsl(207, 50%, 98%);
    color: black;
}

.color-header-contacts {
    background-color: hsl(207, 50%, 85%);
    color: #444444;
}

.color-button-home {
    background-color: rgb(0, 90, 162);
}

.color-button-education {
    background-color: rgb(0, 75, 135);
}

.color-button-work {
    background-color: rgb(0, 60, 108);
}

.color-button-programming {
    background-color: rgb(0, 45, 81);
}

.color-button-other {
    background-color: rgb(0, 30, 54);
}

.color-button-download {
    background-color: rgb(0, 15, 27);
}

.section-footer {
    background-color: rgb(0, 75, 135);
    color: rgb(255, 205, 0);
}


/*------------------------------------------------- General Margins/Paddings */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  min-height: 100%;
  position: relative;
}


/*------------------------------------------------- Header */

section-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header-photo {
    background: url("../images/pz-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 260px;
}

.name-purpose {
    margin: 30px 30px 20px 30px;
}

.name {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
}

.purpose {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.header-contacts {
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 0px;
}

.header-contacts-heading {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.header-contacts-list {
    margin: 0;
    padding: 0;
}

.header-contacts-line {
    display: block;
    clear: both;
    margin: 0;
}

.header-contacts-line-item {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.header-contacts-line-content {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}


/*------------------------------------------------- Navigation bar */

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.cleanmenu {
    font-size: 0;
    border-top: 5px solid black;
}

#nav-menu {
    margin: 0;
}

.list-inline-item {
    padding: 0;
    height: 40px;
    text-align: center;
    color: #ffcd00;
    font-weight: 400;
}

.list-inline-item a {
    display: block;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: inherit;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
}


/*------------------------------------------------- Main - Common for All Pages */

.section-main {
    margin: 0px;
    padding-top: 10px;
	padding-bottom: 110px;
    padding-right: 5px;
    padding-left: 5px;
}

.main-heading {
    display: block;
    /*width: 60%;*/
    margin: 0px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: "Exo", sans-serif;
    font-size: 33px;
    font-weight: 200;
}

.box-outside {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    float: none;
}

.box-inside {
    background-color: white;
    margin: 5px;
    padding: 10px 15px;
    height: 95%;
    border: 1px solid black;
    border-radius: 10px;
}

.box-heading {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.box-list {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.box-content {
    display: block;
    margin: 0px;
    margin-top: 5px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}


/*------------------------------------------------- Main - Work */

.work-history-period {
    font-size: 17px;
}

.work-history-position {
    font-size: 15px;
    padding-bottom: 5px;
}


/*------------------------------------------------- Footer */

.section-footer {
	position: absolute;
    bottom: 0;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}

.footer-column {
    margin: 0;
    padding-right: 10px;
    min-height: 100px;
}

.footer-heading {
    display: block;
    margin-top: 15px;
    padding-left: 15px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.footer-content {
    display: block;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}


/*------------------------------------------------- Icons */

.main-icon {
    padding-left: 10px;
    font-size: 120%;
    vertical-align: middle;
    color: inherit;
}

.cv-download-icon {
    padding-left: 10px;
    font-size: 20px;
    vertical-align: top;
    color:  #ffcd00;
}


/*------------------------------------------------- Hover Effects */

.list-inline-item:hover {
    background-color: hsl(207, 100%, 75%);
    color: rgb(0, 15, 27);
    font-weight: 700;
}

.hover-color:hover {
    color: red;
    text-decoration: none;
}

.cv-download-icon:hover {
    color: red;
    text-decoration: none;
    font-size: 200%;
}


/*------------------------------------------------- List of Articles */

.list-of-articles {
    margin-left: 30px;
}

.list-of-articles > li > a {
    padding-left: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
}


/*------------------------------------------------- Media Query */

@media screen and (max-width: 1199px) {
    .section-main {
        padding-bottom: 220px;
    }
}

@media screen and (max-width: 991px) {
    .section-main {
        padding-bottom: 330px;
    }
}

@media screen and (max-width: 466px) {
    .header-photo {
        min-height: 200px;
    }

    .name-purpose {
        margin: 5px 15px;
    }

    .name {
        font-size: 40px;
        margin-bottom: 0px;
    }
    .purpose {
        font-size: 25px;
    }

    .section-main {
        padding-bottom: 260px;
    }

    .footer-column {
        min-height: 0px;
    }

    .footer-heading {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .footer-content {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 770px) {
    .education-box {
        display: block;
        float: none;
        width: 735px;
        margin: 0px auto;
    }
}

@media screen and (min-width: 992px) {
    .work-history-box {
        width: 550px;

    }

    .work-results-box {
        width: 320px;
    }

    .work-column {
        margin-left:30px;
    }
}

@media screen and (min-width: 600px) {
    .other-box {
        display: block;
        float: none;
        width: 565px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
}