/*-------------------------------------------------Fonts */
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

.capslock {
    text-transform: uppercase;
}

.active {
    text-decoration: underline;
    font-weight: 700;
    /*color: darkblue;*/
}

.main-heading {
    display: block;
    margin: 0px;
    margin-bottom: 10px;
    font-family: "Exo", sans-serif;
    font-size: 35px;
    font-weight: 200;
}


/*-------------------------------------------------Colors */

.color-page-home {
    background-color: hsl(207, 50%, 98%);
}

.color-page-education {
    background-color: hsl(207, 50%, 96%);
}

.color-page-work {
    background-color: hsl(207, 50%, 94%);
}

#main-programming {
    background-color: red;
    /*background-color:  rgba(0, 135, 243, 0.08);*/
}

.color-page-other {
    background-color: hsl(207, 50%, 90%);
}

.color-name-purpose {
    background: hsl(207, 50%, 98%);
    color: black;
}

.color-header-contacts {
    background-color: hsl(207, 50%, 85%);
    color: #444444;
}

.color-button-home {
    background-color: rgb(0, 90, 162);
}

.color-button-education {
    background-color: rgb(0, 75, 135);
}

.color-button-work {
    background-color: rgb(0, 60, 108);
}

.color-button-programming {
    background-color: rgb(0, 45, 81);
}

.color-button-other {
    background-color: rgb(0, 30, 54);
}

.color-button-download {
    background-color: rgb(0, 15, 27);
}

/* .section-footer */
.section-footer, footer {
    background-color: rgb(0, 75, 135);
    color: rgb(255, 205, 0);
}

/*-------------------------------------------------Effects */

.hover-color:hover {
    color: red;
    text-decoration: none;
    /*font-weight: 500;*/
}

.hover-size:hover {
    font-size: 200%;
}


/*-------------------------------------------------General margins/paddings override */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  min-height: 100%;
  position: relative;
}

section-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.section-main {
    margin: 0px;
    padding-top: 10px;
	padding-bottom: 110px;
    padding-right: 5px;
    padding-left: 5px;
}

@media screen and (max-width: 1199px) {
    .section-main {
        padding-bottom: 220px;
    }
}

@media screen and (max-width: 991px) {
    .section-main {
        padding-bottom: 330px;
    }
}

/* for very narrow screens */
@media screen and (max-width: 466px) {
    .section-main {
        padding-bottom: 350px;
    }
}

.section-footer {
	position: absolute;
    bottom: 0;
    margin: 0px;
    padding: 0px;
}


/*-------------------------------------------------Header */

.header-photo {
    background: url("../images/pz-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 260px;
}

.name-purpose {
    margin: 30px 30px 20px 30px;
}

.name {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
}

.purpose {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.header-contacts {
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 0px;
}

.header-contacts-heading {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.header-contacts-list {
    margin: 0;
    padding: 0;
}

.header-contacts-line {
    display: block;
    clear: both;
    margin: 0;
}

.header-contacts-line-item {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.header-contacts-line-content {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}


/*-------------------------------------------------Navigation bar */

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.cleanmenu {
    font-size: 0;
    border-top: 5px solid black;
}

#nav-menu {
    margin: 0;
}

.list-inline-item {
    padding: 0;
    height: 40px;
    text-align: center;
    color: #ffcd00;
    font-weight: 400;
}

.list-inline-item a {
    display: block;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: inherit;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
}

.list-inline-item:hover {
    background-color: rgba(0, 135, 243, 0.5);
    color: rgb(0, 15, 27);
    font-weight: 700;
}


/*-------------------------------------------------Main-Home */

.main-column {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    float: none;
}

.main-column-inside {
    background-color: white;
    margin: 5px;
    padding: 10px 15px;
    height: 95%;
    border: 1px solid black;
    border-radius: 10px;
}

.main-column-heading {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.main-column-content {
    display: block;
    margin-top: 5px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}


/*-------------------------------------------------Main-Education (similar to Other) */

.education-item {
    display: block;
    float: none;
    width: 725px;
    background-color: #fff;
    margin: 0px auto;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

@media screen and (max-width: 760px) {
    .education-item {      
        width: 100%;
        margin-bottom: 20px;
    }
}

/* .education-item {
    display: block;
    float: none;
    width: 100%;
    background-color: #fff;
    margin: 5px;
    padding: 10px 15px;
    height: 95%;
    border: 1px solid black;
    border-radius: 10px;
} 

@media screen and (min-width: 720px) {
    .education-item {
        display: block;
        float: none;
        width: 720px;
    }
} */

.education-column-heading {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.education-column-content {
    display: block;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.main-icon {
    padding-left: 10px;
    font-size: 120%;
    vertical-align: middle;
    color: inherit;
}

/*-------------------------------------------------Main-Work */

.work-history {
    margin-left: 50px;
    margin-bottom: 20px;
}

.work-history-list {
    display: block;
    float: none;
    list-style-type: none;
    background-color: #fff;
    margin: 0px 5px;
    padding: 10px 15px 0px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 570px;
}

@media screen and (max-width: 700px) {
    .work-history {
        margin-left: 20px;
    }
    .work-history-list {
        width: 415px;
    }
}

.work-history-item {
    margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
    .work-history {
        margin-left: 0px;
    }
    .work-history-list {
        width: 98%;
    }
}

.work-history-item-period {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.work-history-item-place {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.work-history-item-position {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.work-results {
    margin-left: 50px;
    margin-bottom: 20px;
}

.work-results-list {
    display: block;
    float: none;
    background-color: #fff;
    margin: 0px 5px;
    padding: 0px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 390px;
}

@media screen and (max-width: 1199px) {
    .work-results-list {
        width: 570px;
    }
}

@media screen and (max-width: 700px) {
    .work-results {
        margin-left: 20px;
    }
    .work-results-list {
        width: 415px;
    }
}

@media screen and (max-width: 450px) {
    .work-results {
        margin-left: 0px;
    }
    .work-results-list {
        width: 98%;
    }
}

.work-results-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.work-results-item-type {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
}



.work-results-item-link {
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: black;
}

ol {
    margin-left: 40px;
}

ol > li > a {
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: black;
}


/*-------------------------------------------------Programming */

.programming-container {
    width: 450px;
    margin: 0 auto;
}

.programming-item {
    display: block;
    float: none;
    width: 450px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .programming-container, .programming-item {
        width: 100%;
    }
}

.programming-column-heading {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.programming-column-content {
    display: block;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: black;
}


/*-------------------------------------------------Other */

.other-item {
    display: block;
    float: none;
    width: 555px;
    background-color: #fff;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .other-item {      
        width: 100%;
    }
}

/*-------------------------------------------------Footer */

.footer-bottom {
    min-height: 100px;
}

.footer-column {
    margin: 0;
    padding-right: 10px;
    min-height: 100px;
}

.footer-column-item {
    display: block;
    margin-top: 15px;
    padding-left: 15px;
    font-family: "Exo", sans-serif;
    font-weight: 300;

}

.footer-column-content {
    display: block;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;  
    color: #ffcd00;
}

#footer-about-me-content {
    padding-right: 35px;
}

.cv-download-icon {
    padding-left: 10px;
    font-size: 20px;
    vertical-align: middle;
    color:  #ffcd00;
}